* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'serif;', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Georgia, serif;
}

body {
    background: #F0FF00;
}

.listNamaMobil-app {
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 1000px;
    min-height: 600px;
    background: #fcfbfb;
    text-align: left;
    margin: 50px auto;
    border-radius: 40px;
    padding-bottom: 50px;
}

h1 {
    margin: 5px 0;
    color: rgb(12, 12, 12);
    font-size: 24px;
    justify-content: center;
}

.complete {
    text-decoration: line-through;
    opacity: 0.4;
}

.listNamaMobil-form {
    margin-bottom: 5px;
}

.listNamaMobil-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #f7a8a8;
    outline: none;
    width: 320px;
    background: transparent;
    color: rgb(7, 7, 7);
}

.listNamaMobil-input::placeholder {
    color: #050505;
}

.listNamaMobil-button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: #f7a8a8;
    color: #0d0d0e;
    text-transform: capitalize;
}

.listNamaMobil-input.edit {
    border: 2px solid #0d0d0e;
}

.listNamaMobil-button.edit {
    background: #0d0d0e;
    padding: 16px 22px;
}

.listNamaMobil-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.listNamaMobil-row {
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin: 1px auto;
    color: rgb(8, 8, 8);
    background: #f7a8a8;
    padding: 10px;
    border-radius: 1px;
    width: 100%;
}

.icons {
    display: flex;
    align-items: left;
    font-size: 24px;
    cursor: pointer;
}

.delete-icon {
    margin-right: 5px;
    color: rgb(5, 5, 5);
}

.edit-icon {
    color: rgb(5, 5, 5);
}

.listNamaMobil {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
}